@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600;700&family=Open+Sans:wght@300&display=swap');

$material-dark: (
    'app-bar': #6c4d6f,
    'background': #3d313f,
    'cards': #6c4d6f,
    'navigation-drawer': #6c4d6f,
    'toolbar': #9889a6,
    'accent': #9889a6
);

$material-light: ('background': #FAFAFA);

$body-font-family: 'Open Sans';
$heading-font-family: 'Encode Sans SC';
$title-font: 'Encode Sans SC';